{% extends "PQQuiniBundle::layout_logged.html.twig" %}

{% block title'Penyaquini - Editar perfil' %}

{% block body %}

    <div class="well">

        Formulari per editar ususaris

    </div>

{% endblock %}
