{% extends "PQQuiniBundle::layout.html.twig" %}

{% block loggedin1 %}

    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

{% endblock %}


{% block loggedin2 %}

<div class="navbar-collapse collapse navbar-responsive-collapse">

    <ul class="nav navbar-nav navbar-right">

    <li>
        <a href="{{ path('home') }}" title="Inici" alt="Pagina principal de la Penyaquini">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-signal"></span>
            Estad&iacute;stiques
        </a>
    </li>
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
            Classificaci&oacute;
        </a>

    </li>
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-euro"></span>
            Premis
        </a>
    </li>
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-gift"></span>
            Guanyadors</a>
    </li>
    <li><a href="#">
            <span class="glyphicon glyphicon-info-sign"></span>
            Normativa</a></li>
    <li><a id="edituser" href="{{ path('editUser') }}"><span class="glyphicon glyphicon-cog"></span> Editar
            perfil</a></li>
    <li><a id="logout" href="{{ path('logout') }}">Surt <span class="glyphicon glyphicon-log-out"></span></a>

    </ul>
</div>

{% endblock %}
